@(message: String, clientes:List[Cliente])

@main(message) {

<div class="row">
	<div class="col-md-12">
		<h1>@message</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<a href="@routes.ClienteController.novo" class="btn btn-primary">Novo</a>
	</div>
</div>	

<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-bordered">
			<thead>
				<td>Nome</td>
				<td>Tipo</td>
				<td>Ações</td>
			</thead>
			<tbody>
				@for(cliente <- clientes){
					<tr>
						<td>@cliente.nome</td>
						<td>@cliente.tipoPessoa.toString</td>
						<td>
							<a href="@routes.ClienteController.editar(cliente.nome)" class="btn btn-primary">Editar</a>
							<a href="@routes.ClienteController.remover(cliente.nome)" class="btn btn-primary">Excluir</a>							
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>		

}
