@(message: String, form:Form[Cliente])

@main(message) {

<div class="row">
	<div class="col-md-12">
		<h1>Novo @message</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	
	
		@helper.form(action = routes.ClienteController.save, 'class -> "form") {
			<div class="form-group">
				<label>Nome</label>
				<input type="text" name="nome" class="form-control" value="@form.value.getOrElse(new Cliente()).nome" @if(form.value.getOrElse(new Cliente()).nome != null){readonly}>
			</div>
			
			<div class="radiobox">
			    <label>
			      <input type="radio" name="tipoPessoa" value="@TipoPessoa.FISICA" @if(form.value.getOrElse(new Cliente()).tipoPessoa ==  TipoPessoa.FISICA){checked}> Física
			    </label>
			    <label>
			      <input type="radio" name="tipoPessoa" value="@TipoPessoa.JURIDICA" @if(form.value.getOrElse(new Cliente()).tipoPessoa ==  TipoPessoa.JURIDICA){checked}> Jurídica
			    </label>
			  </div>
			
			<input type="submit" class="btn btn-primary">
		}
		
		
	</div>
</div>		

}
