@(message: String, fornecedores:List[Fornecedor])

@main(message) {

<div class="row">
	<div class="col-md-12">
		<h1>@message</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<a href="@routes.FornecedorController.novo" class="btn btn-primary">Novo</a>
	</div>
</div>	

<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-bordered">
			<thead>
				<td>Nome</td>
				<td>Tipo</td>
				<td>Documento</td>
				<td>Ações</td>
			</thead>
			<tbody>
				@for(fornecedor <- fornecedores){
					<tr>
						<td>@fornecedor.nome</td>
						<td>@fornecedor.tipoPessoa.toString</td>
						<td><a href="#">Arquivo</a></td>
						<td>
							<a href="@routes.FornecedorController.editar(fornecedor.nome)" class="btn btn-primary">Editar</a>
							<a href="@routes.FornecedorController.remover(fornecedor.nome)" class="btn btn-primary">Excluir</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

}
